#calculator {
  margin-top: 30px;
  background: #293A48;
  min-height: 250px;
}

.display-container {
  padding: 10px;
  border: solid 1px;
  font-size: 20px;
  background: #8ED1F7;
  border: none;
  text-align: right;
  overflow: scroll;
  margin: 10px; 
}

.buttons {
  margin-bottom: 20px;
}

.buttons-row {
  margin-top: 10px;
}

.operation-buttons .col {
  padding-left: 0px;
}

/**** BUTTONS ****/
.buttons .btn {
  width: 40px;
  height: 40px;
}

.buttons .number-button:focus {
  background-color: #0062cc;
  color: #fff;
  border-color: #005cbf;
}

#equal-button, #clear-button {
  border: none;
  background: #F95204;
  color: #FFFFFF;
}

#backspace, #sign-button {
  padding: 5px 0px 5px 0px;
}

.number-buttons .number-button {
  background: #1A6894;
}

.operator-button, #sign-button, #backspace{
  background: #7EA7DA;
  color: #FFFFFF;
}

.operator-button:focus,
#sign-button:focus, #backspace:focus {
  background: #2CB0DE;
  color: #FFFFFF;
}

